.adfor{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    border: 1px solid black;
    width: 600px;
    padding: 20px;
    background-color: #ebebeb;
}

#tpic{
    text-align: center;
}

.ad{
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.adcard{
    background-color: #ebebeb;
    width: 800px;
    border-radius: 1px;
    display: flex;
}

.ad_card{
    flex: 0 0 35%;
    position: relative;
}

.card_img{
    display: block;
    height: 180px;
    width: 100%;
}

.ad_content{
    flex: 1;
    padding: 20px 35px 25px 35px;
    display: flex;
    flex-direction: column;
}
.card_info{
    display: flex;
    flex-direction: column;
}

.cardtopic{
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 22px;
    margin-bottom: 8px;
}

.cardprice{
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 8px;
}

.cardmax{
    font-size: 16.5px; 
    font-weight: 400;
}

.cd_bttn{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.btnset{
    display: flex;
    justify-content: flex-end;
}

.addbttn{
    
    
    margin-left: 20%;
    margin-right: 30%
}

.prntbtn{
    margin-block-start: 30px;
    margin-inline-start: 80%;
}
