

#body {
    font-family: 'Nunito';
  background-color:  #5d8fc9;
  }
  #login-card{
      width:350px;
      border-radius: 25px;
      margin:150px auto;
    
  }
  
  #email{
      border-radius:30px;
      background-color: #ebf0fc;
      border-color: #ebf0fc;
      color: #9da3b0;
  }
  
  #button{
      border-radius:30px;
  
  }
  
  #btn{
     position: absolute; 
     bottom: -35px; 
     padding: 5px;
     margin: 0px 55px;
     align-items: center;
     border-radius: 5px
  }
  #container{
      margin-top:25px;
  }
  
  .btn-circle.btn-sm { 
              width: 40px; 
              height: 40px; 
              padding: 2px 0px; 
              border-radius: 25px; 
              font-size: 14px; 
              text-align: center;
              
              margin: 8px;
          }

/*Select Guide*/

body{
    margin-top:20px;
    color: #1a202c;
    text-align: left;
    background-color: #ffffff;    
}
.main-body {
    padding: 15px;
}
.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}

/*Add Guide*/
.bg {
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
}

/*All Guide*/

/*Add Guide*/
.has-error input[type="text"], .has-error input[type="email"], .has-error select {
    border: 1px solid #a94442;
}