/*Add Guide CSS*/
#add .form-group {
    box-shadow: 0px 4px 20px rgba(5,57,94,.5);
    -moz-box-shadow: 0px 4px 20px rgba(5,57,94,.5);
    -webkit-box-shadow: 0px 4px 20px rgba(5,57,94,.5);
}

/*All Guide CSS*/
#team .table{
    width: 100%;
    max-width: 97%;
    margin: 40px auto;
    box-shadow: 0px 4px 20px rgba(5,57,94,.5);
    -moz-box-shadow: 0px 4px 20px rgba(5,57,94,.5);
    -webkit-box-shadow: 0px 4px 20px rgba(5,57,94,.5);
}

/*All  Requests Page CSS*/
#report .table{
    width: 100%;
    max-width: 97%;
    margin: 40px auto;
    box-shadow: 0px 4px 20px rgba(5,57,94,.5);
    -moz-box-shadow: 0px 4px 20px rgba(5,57,94,.5);
    -webkit-box-shadow: 0px 4px 20px rgba(5,57,94,.5);
}

#report .thead{
    background-color: black;
    color:white;
}

/*Edit  Guide Page CSS*/
#edit .form-group{
    box-shadow: 0px 4px 20px rgba(5,57,94,.5);
    -moz-box-shadow: 0px 4px 20px rgba(5,57,94,.5);
    -webkit-box-shadow: 0px 4px 2
}

/*Guide  Confirm Page CSS*/
/*Guide  Login Page CSS*/


/*Guide Request Page*/
.guide-container {
    background: #30cfd0;
    background: -webkit-linear-gradient(to right, rgba(48, 207, 208, 0.5), rgba(51, 8, 103, 0.5));
    background: linear-gradient(to right, rgba(48, 207, 208, 0.5), rgba(51, 8, 103, 0.5));
    border-radius: 25px;   
}

/*Select  Guide Page CSS*/
.about-container{
    width: 80%;
    height: 330px;
    background: radial-gradient( circle farthest-corner at -8.9% 51.2%,  rgba(255,124,0,1) 0%, rgba(255,124,0,1) 15.9%, rgba(255,163,77,1) 15.9%, rgba(255,163,77,1) 24.4%, rgba(19,30,37,1) 24.5%, rgba(19,30,37,1) 66% );
    border-radius: 20px;
    text-decoration: none;
    display: flex;
    margin: 2%auto 20px auto;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 15px;
    border: none;
    text-decoration: none;
    display: flex;
    margin: 2%auto 20px auto;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 15px;
    border: none;
    box-shadow: 5px 5px 15px #4b4949b2;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
}

.about-container img{
    height: 250px;
    border-radius: 15px;
}

.about-text{
    width: 500px;
    color: white;
}

.about-text p:nth-child(1){
    color: white;
    font-weight: bold;
    font-size: 17px;    
}




