
.parallax-window {
  min-height: 450px;
  background: transparent;
  position: relative;
}



.tm-header {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  z-index: 1000;
}

.tm-header-inner {
  padding: 40px 50px;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

@media (max-width: 991px) {
  .tm-header-inner {
    padding: 30px 15px;
  }
}
.shimg{
  min-width: 100%;
  max-height: 500px;
}

.tm-site-logo {
  display: inline-block;
  margin-right: 5px;
}

.tm-site-text-box {
  display: inline-block;
}

.tm-site-title {
  font-size: 3.2rem;
  font-weight: 400;
  margin-bottom: 5px;
}

.tm-site-description {
  font-size: 1.1rem;
  font-weight: 400;
}

.tm-nav {
  text-align: right;
  margin-top: 30px;
}

.tm-nav-ul {
  display: flex;
  justify-content: flex-end;
}

.tm-nav-li {
  list-style: none;
  display: block;
  margin-bottom: 0;
  padding-right: 25px;
  padding-left: 25px;
}

@media (max-width: 991px) {
  .tm-nav-li {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.tm-nav-link {
  font-size: 1.3rem;
  color: white;
  text-decoration: none;
  padding-bottom: 10px;
}

.tm-nav-link.active,
.tm-nav-link:hover {
  border-bottom: 1px solid white;
}

.detailsimg{
  max-width: 650px;
  min-width: 650px;
  min-height: 450px;
  max-height: 450px;
}



#crdbtn{
  width: 120px;
  font-size: 15px;
  margin: center;
  margin-left: 60%;
  background-color: black;
  
}


.crdboder:hover{
  box-shadow: 0px 0px 5px 5px #6e6e6e;
}


#myInput {
  
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

.from-control{
  opacity: 0.6;
  min-width: 350px;
  min-height: 30px;
  border: black;
}
.submit-btn{
  width: 100%;
  height: 100%;
  padding: 10px;
  box-shadow: 0 0 0 3px #2d3142 inset;
  background-color: #2d3142;
}

.packageimg{
  min-height: 260px;
}

.tm-gallery-title {
  font-size: 1.5rem;
  font-weight: 400;
  color: black;
  margin-bottom: 15px;
}

.button {
  box-sizing: border-box;
  height: 10px;
  width: 100%;
  display: table;
  font-size: 18px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.55);
  background-color: #cfcfcf;
  cursor: pointer;
}
.button span {
  width: 100%;
  height: 100%;
  padding: 10px;
  color: #2d3142;
  box-shadow: 0 0 0 3px #2d3142 inset;
  background: transparent;
}
.button .away {
  background: #2d3142;
  color: white;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.button .over {
  display: none;
}
.button:hover span.away {
  display: none;
}
.button:hover span.over {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: white;
  box-shadow: none;
}
.button:hover {
  background: #2d3142;
}



.shenuka{
  width: 100%;
  font-size: 18px;
  height: 100%;
  padding: 10px;
  background-color: #2d3142;
}

.shenuka .away {
  background: #2d3142;
  color: white;
  vertical-align: middle;
  text-align: center;
}
.shenuka .over {
  display: none;
}

.hero-image {
  background-color: #cccccc;
  width: 100%;
  min-height: 500px;
  background-position: center;
  background-size: cover;
  position: relative;
  padding-top: 30px;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 30px;
}

.boktable{
  width: 100%;
  border: 0px solid white;
}

.bokbtn{
  width: 200px;
  height: 40px;
}

.boktd{
  padding-left: 30px;
  width: 80%;
  border: 0px solid white;
}

.bokth{
  padding-right: 30px;
  text-align: right;
  border: 0px solid white;
}

.bokbox{
  width: 100%;
  border: 1px solid rgb(141, 141, 141);
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}
.bokmiddle{
  margin-left: auto;
  margin-right: auto;
}

.bokpadding{
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}






